<aside class="product-filter">
    <div class="mobile-toggle">
        <span class="filter-expander">
            <a id="showFilters" href="#showFilters">Filtrar</a>
            <a id="hideFilters" href="#hideFilters">Esconder filtros</a>
        </span>
    </div>
    <ul class="collapsible mobile-toggled">
        <li>
            <div class="category-wrapper">
              <span class="category-header">Dispositivos / Herramientas</span>
              <a class="expand" href=""><span class="material-icons">expand_more</span></a>
              <a class="collapse active" href=""><span class="material-icons">expand_less</span></a>
            </div>
            <div>
              <ul class="category-list expanded-list">
                <li><a href="">Cámaras</a></li>
                <li><a href="">Micrófonos</a></li>
                <li><a href="">Capturadoras de video</a></li>
                <li><a href="">Stream decks</a></li>
                <li><a href="">Monitores</a></li>
              </ul>
            </div>
        </li>
        <li>
            <div class="category-wrapper">
              <span class="category-header">Salud del streamer</span>
              <a class="expand active" href=""><span class="material-icons">expand_more</span></a>
              <a class="collapse" href=""><span class="material-icons">expand_less</span></a>
            </div>
            <div>
              <ul class="category-list collapsed-list">
                <li><a href="">Lentes filtro UV</a></li>
                <li><a href="">Corrector de postura</a></li>
                <li><a href="">Más</a></li>
              </ul>
            </div>
        </li>
        <li>
            <div class="category-wrapper">
              <span class="category-header">Muebles</span>
              <a class="expand active" href=""><span class="material-icons">expand_more</span></a>
              <a class="collapse" href=""><span class="material-icons">expand_less</span></a>
            </div>
            <div>
              <ul class="category-list collapsed-list">
                <li><a href="">Mini bar/heladera</a></li>
                <li><a href="">Silla gamer</a></li>
                <li><a href="">Escritorios</a></li>
                <li><a href="">Accesorios</a></li>
                <li><a href="">Combos</a></li>
              </ul>
            </div>
        </li>
        <li>
            <div class="category-wrapper">
              <span class="category-header">Canjeables</span>
              <a class="expand active" href=""><span class="material-icons">expand_more</span></a>
              <a class="collapse" href=""><span class="material-icons">expand_less</span></a>
            </div>
            <div>
              <ul class="category-list collapsed-list">
                <li><a href="">Fitness</a></li>
                <li><a href="">Ropa deportiva</a></li>
                <li><a href="">Merchandasing</a></li>
              </ul>
            </div>
        </li>
    </ul>
</aside>