<nav>
    <div class="nav-wrapper">
      <div class="breadcrumbs">
        <a href="" class="breadcrumb">productos</a>
        <a href="" class="breadcrumb"><%= product.category %> </a>
        <a href="" class="breadcrumb last-breadcrumb"><%= product.subCategory %> </a>
      </div>
    </div>
  </nav>