.logo-landing>img{
    position: relative;
    top:-60px;
    right: -35%;
}

.landing-brand{
    position: relative;
    top:-170px;
    text-align: center;
    left: 80px;

}

.landing-heading{
    position: relative;
    top:-188px;
    left:90px;
    text-align: center;
}
.bg-image{
    position: relative;
    height: 100vh;
}

.formulario{
    position:relative;
    text-align: center;
    margin-top: -80px;
}

.control{
    padding: 15px;
    width: 30%;
    position: relative;
    display: flex;
    left: 35%;
}

.control1{
    padding:15px;
    width: 30%;
    position: relative;
    display: flex;
    left: 35%;
    top: 35px;

}

.boton-formulario{
    padding: 10px;
    width: 6%;
    margin-top: 80px;
    
}
button.boton-formulario{
    margin-left: 40px;
    margin-right: 40px;
    text-align: center;
    border-radius: 0.5em;
    
}
input.control{
    border:#cffbff 3px solid ;
}
input.control1{
    border:#cffbff 3px solid ;
}

.register{
    color: #cffbff;
}

.rg{
    color: #8326ef;
    margin-top: 40px;  
    text-align: center;
}

.logo-user{
   margin-bottom: 50px;
}

img{
    width: 18%;
}

i.fa-solid.fa-key{
position: relative;
top:70px;

}
.fa-solid, .fas{
    right: 350px;
    top: 34px;
    position: relative
}


