@media screen and (min-width: 1200px){

    main{
      display: flex;
      flex-wrap: wrap;
    }

    .product-filter{
      background-color: #cffbffb9;
      margin-left: 1vw;
      margin-right: 1vw;
    }
           
    .product-filter, .mobile-toggled, .category-wrapper,.mobile-toggled>li{
      width: 20vw;
     }

     .category-wrapper, .expanded-list, .category-header, .category-list, .category-list>li{
      width: 17vw;
     }

     .category-header, .category-list, ul.collapsible {
      padding: 1vw;
     }

     .mobile-toggle{
      display: none;
     }

     ul.mobile-toggled{
      border-radius: 0.5em;
      display: flex;
     }

     .category-header{
      font-size: 0.9rem;
      padding: 0;
      width: 15vw
     }

     .product-detail, .product-description-wrapper{
      margin: 0;
      width: 70vw;
     }

     .product-main-wrapper{
      gap: 2rem;
     }

     .product-images{
      width: 40vw;
     }

     .product-info{
      align-items: flex-start;
      justify-content: center;
      justify-items: center;
      order: 1;
      width: 27vw;
     }

     .product-info>h3{
      height: 2rem;
      line-height: 2rem;
      margin: 0;
     }

     .product-pricing, .product-rating{
      justify-self: flex-start;
      position: relative;
      width: 15vw;
     }

     .btn-add2Cart{
      height: 4rem;
      margin-top: 5rem;
      position: static;
      text-align: center;
     }
    }

    @media screen and (min-width:1908px){
      
      .btn-add2Cart{
        left: -12rem;
        position: relative;
        top: 5rem;
      }
    }
    