
.landing-brand {
    position: relative;
    top: -125px;
    text-align: center;
    left: 180px;
}

.landing-heading {
    position: relative;
    top: -140px;
    left: 90px;

    text-align: center;
}

.bg-image {
    position: relative;
    height: 100%;
}

.formulario {
    position: relative;
    text-align: center;
    margin-top: 0px;
}

.control {
    position: relative;
    width: 30%;
    padding: 15px;
    display: flex;
    margin: 30px;
    align-items: center;
    left: 35%;
    background-color: #d8d8d8
}

.Fecha {
    position: relative;
    right: 196px;
    font-size: 18px;
}

input.control {
    border: #cffbff 3px solid;
}

.boton-formulario {
    padding: 10px;
    width: 6%;
    
}

button.boton-formulario {
    border-radius: 0.5em;
    
}




img{
    width: 10%;
    position: relative;
    left: 74vh;
    margin-top: 20px;
}

.register-image{
    position: relative;
   left: -35%;
    top: -50px;
}
.logo-landing{
width: 90%;
}

/*
@media (min-width: 768px) {

    .logo-landing>img{
        position: relative;
        left: 160px;
        width: 20%;
    }

    .landing-brand {
        position: relative;
       left:60px
    }
    
    .landing-heading {
        position: relative;
       left: 70px;
    }
figure.register-image{
    /*Agrandar imagen */
   
/*}
    .formulario{
        position:absolute;
        width: 150%;
        right: -23%
    }

    .boton-formulario {
        position: absolute;
        
    }
}


@media(min-width: 360px){   .logo-landing>img{
    position: relative;
    width: 20%;
    left: 10%;
}

.landing-brand {
    position: relative;
    left: 30px;
    /* falta achicar */
   
/*}

.landing-heading {
    position: relative;
    left:70px;
    /* falta achicar */

   
/*}

.formulario{
    position:relative;
    top:-280px;
    left: -170px;
    width: 600px;
}

.boton-formulario {
    position: relative;
    right: -30px;
    
}

button.boton-formulario {
    border-radius: 0.5em;
    width: 100px;
   
    
}


}
