*{
    border: none;
    box-sizing: border-box;
    margin: 0;
    outline: none;
    padding: 0;
    text-decoration: none;
}

body{
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
}

.bg-image{
    background-attachment: fixed;
    background-color: #222430;
    background-image: url('/assets/bg-texture-01.jpg');
    background-position: top -50vh;
    background-size: cover;
}

a{
    font-family: 'Consolas', 'Courier New', monospace;
}

img{
    width: 100%;
}

/* Landing section */

.landing-section{
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}

.logo-landing{
    width: 100%;
}

.logo-landing>img{
    height: 8rem;
    margin-top: 10vh;
}

.landing-brand{
    color: #8326ef;
    font-size: 2.5rem;
    font-weight: 400;
    text-align: center;
}

.landing-heading{
    color: #cffbff;
    font-family: 'Lobster', cursive;
    font-size: 1.5rem;
    margin-top: 1.5rem;
    text-shadow: #29d5e2;
}

.landing-button{
    background: #8326ef;
    border-radius: 0.5em;
    color: #cffbff;
    font-family: 'Lato', sans-serif;
    font-size: 1.3rem;
    padding: 1em;
    position: absolute;
    text-transform: uppercase;
    top: 50vh;
    width: 12rem;
}

.sponsorship{
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
    position: relative;
    top: 35vh;
    width: 100%;
}

.sponsor{
    width: 15%;
}