<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Lobster&family=Open+Sans:wght@300;400;500;600;700;800&family=Yellowtail&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/css/styles.css" type="text/css">
  <link rel="stylesheet" href="/css/headerMobile.css" type="text/css">
  <link rel="stylesheet" href="/css/headerTablet.css" type="text/css">
  <link rel="stylesheet" href="/css/headerDesktop.css" type="text/css">
  <link rel="stylesheet" href="/css/footerMobile.css" type="text/css">
  <link rel="stylesheet" href="/css/footerTablet.css" type="text/css">
  <link rel="stylesheet" href="/css/footerDesktop.css" type="text/css">
  <link rel="stylesheet" href="/css/productDetailMobile.css" type="text/css">
  <link rel="stylesheet" href="/css/productDetailTablet.css" type="text/css">
  <link rel="stylesheet" href="/css/productDetailDesktop.css" type="text/css">
  <title>Home</title>
</head>
<body class="bg-image">
    <header class="not-main-Home">
        <div class="header-wrapper">
            <div class="header-logo"><a href="/"><img src="/assets/streamixLogo.svg" alt="logo"></a></div>
            <div class="header-branding">
                <h1 class="header-brand">STREAMIX</h1>
                <h2 class="header-heading">Todo para tus streams!</h2>
            </div>
        </div>
        <div class="header-wrapper2">
            <form action="/" method="get" class="search-bar">
                <fieldset class="input-field">
                    <div class="search-btn" type="submit"><span class="material-icons">search</span></div>
                    <input type="text" name="search">
                </fieldset>
            </form>
            <div class="collapsible nav-menu">
                <div class="menu-btn-wrapper">
                    <div class="collapsible-header nav-btn">
                        <a id="hideNavs" href="#hideNavs" class="collapse-start"><span class="material-icons">menu</span></a>
                        <a id="showNavs" href="#showNavs" class="collapsed"><span class="material-icons">menu_open</span></a>
                    </div>
                </div>
                <nav class="collapsible-body nav-body">
                    <a href="">Nosotros</a>
                    <a href="">Contáctanos</a>
                </nav>
                <nav class="collapsible-body nav-body2">
                    <a href="">Productos</a>
                    <a href="./productCart.html"><span class="material-icons">shopping_cart</span>Carrito</a>
                    <a href="./login.html"><span class="material-icons">account_circle</span>Entra</a>
                </nav> 
            </div>            
        </div>
    </header>
<main>
  <div class="barra-izq">
    <ul class="dispositivos/herramientas">Dispositivos/Herramientas
      <li class="list-dispositivos/herramientas">
        <a href="#Cámaras">Cámaras</a>
      </li>
      <li class="list-dispositivos/herramientas">
        <a href="#Micrófonos">Micrófonos</a>
      </li>
      <li class="list-dispositivos/herramientas">
        <a href="#Capturadoras-de-video">Capturadoras de video</a>
      </li>
      <li class="list-dispositivos/herramientas">
        <a href="#Streamdeck">Streamdeck</a>
      </li>
      <li class="list-dispositivos/herramientas">
        <a href="#Monitores">Monitores</a>
      </li>
    </ul>
    <ul class="salud del streamer">Salud del streamer
      <li class="list-salud">
        <a href="#Mini-frigobar">Mini frigobar</a>
      </li>
      <li class="list-salud">
        <a href="#Corrector-de-postura">Corrector de postura</a>
      </li>
      <li class="list-salud">
        <a href="#Lentes-de-descanso-contra-luz-azul">Lentes de descanso contra luz azul</a>
      </li>
    </ul>
    <ul class="Muebles">Muebles
      <li class="list-mueblería">
        <a href="#Escritorio">Escritorio</a>
      </li>
      <li class="list-mueblería">
        <a href="#Silla-gamer">Silla gamer</a>
      </li>
    </ul>
    <ul class="Canjeables">Canjeables
      <li class="list-canjeable">
        <a href="#Barra-de-dominadas">Barra de dominadas</a>
      </li>
      <li class="list-canjeable">
        <a href="#Rueda-de-abdominales">Rueda de abdominales</a>
      </li>
      <li class="list-canjeable">
        <a href="#Mancuernas">Mancuernas</a>
      </li>
    </ul>
  </div>
  <div class="barra-central" id="barra-central">
    <a class="brand" href="link">Volver</a>
    <nav>
      <ul class="barra-central1" id="barra-central1">
       <a href="#Productos">Productos></a>
       <a href=#Dispositivos/Herramientas>Dispositivos/Herramientas></a>
      </ul>
    </nav>
  </div>
  <section class="product-details-container">
    <article class="product-card product-card--full-screen">
     <div class="img-container">
      <img
       src=""
       alt="Nombre del producto"
       class="product-card__img product-card__img--lg"
      />
      <div class="oval-container">
       <div
        class="oval-container__figure oval-container__figure--active"
       ></div>
       <div class="oval-container__figure"></div>
       <div class="oval-container__figure"></div>
      </div>
     </div>
     <div class="product-card__info product-card__info--column">
      <div class="card-description card-description--lg">
       <p class="card-description-price">$ </p>
       <p class="card-description-name">Nombre del producto</p>
      </div>
      <p class="card-description__text">
       Descripción del producto.
      </p>
      <button class="primary-button primary-button--flex">
       <img src="" alt="" /> Agregar al carrito
      </button>
     </div>
    </article>
   </section>
</main>
<footer class="mainHome" id="homeFooter">
    <span class="copyright">Grupo 4 Digital House&copy; 2022</span>
</footer>
</body>
</html>
